.swiper {
  overflow: visible;
}

.swiper-button-next,
.swiper-button-prev {
  z-index: 10;
  color: black;
  background-color: white;
  font-size: 16px;
  width: 40px;
  height: 40px;
  border: 1px solid #e1e1e1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: red;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px; /* 화살표 아이콘 크기 조정 */
}

.swiper-button-next {
  right: -20px;
}

.swiper-button-prev {
  left: -20px;
}

.swiper-slide {
  flex-shrink: 0; /* 슬라이드가 축소되지 않도록 설정 */
}

/* 슬라이드 영역에만 overflow: hidden을 적용 */
.slide-wrapper {
  width: 100%;
  overflow: hidden; /* 슬라이드가 넘쳐 보이는 문제 해결 */
  position: relative;
}
